<div class='row'>
  <div class='col-md-12'>
    <div class='col-md-2 wrapper-form'>
      <form class='form-input col-md-12' name='form' ng-submit='form.$valid &amp;&amp; login(user)' novalidate>
        <p class='error-message' ng-cloak ng-show='showMessage()'>{{message}}</p>
        <div class='input-group input-group-lg'>
          <span class='input-group-addon'>EMAIL</span>
          <input class='form-control' ng-model='user.email' required type='text'>
        </div>
        <div class='input-group input-group-lg'>
          <span class='input-group-addon'>PASSWORD</span>
          <input class='form-control' ng-maxlength='12' ng-minlength='5' ng-model='user.password' required type='password'>
        </div>
        <button class='btn btn-info login' ng-disabled='form.$invalid' type='submit'>
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>
