<div class='row'>
  <div class='col-md-12'>
    <div class='col-md-2 wrapper-form'>
      <form class='form-input col-md-12' ng-submit='login(user)' novalidate>
        <div class='input-group input-group-lg'>
          <span class='input-group-addon'>{{name}}/{{password}}</span>
          <input class='form-control' ng-model='user.name' required type='text'>
        </div>
        <div class='input-group input-group-lg'>
          <span class='input-group-addon'>PASSWORD</span>
          <input class='form-control' ng-model='user.password' required type='password'>
        </div>
        <button class='btn btn-info login' type='submit'>
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>
