<div class='row'>
  <div class='col-md-12'>
    <form class='form-input col-md-10' enctype='multipart/form-data' id='form' method='PATCH' name='form' ng-submit='form.$valid &amp;&amp; update()' novalidate>
      <my-customer></my-customer>
      <!-- /%button(ng-click='showPopover()' type='button') -->
      <a href='#/posts/new' ng-if='notNew'>
        <span class='glyphicon glyphicon-pencil pull-left'></span>
      </a>
      <a href='#/dashboard'>
        <span class='glyphicon glyphicon-backward pull-left'></span>
      </a>
      <h1 autofocus class='editable' data-placeholder='Набирай заголовок' id='title' ng-bind-html='post.title'>
        {{post.title}}
      </h1>
      <hr>
      <label for='asset' style='color: green; background-color: WhiteSmoke'>
        <div class='col-md-3 glyphicon glyphicon-cloud-download'>
          Загрузить
        </div>
      </label>
      <input id='asset' name='post.asset' ng-model='post.asset' style='visibility: hidden' type='file'>
      <div class='image'>
        <img class='img-thumbnail' ng-show='asset_url' ng-src='{{post.asset.url}}'>
      </div>
      <div class='text'>
        <p class='editable' data-placeholder='Набирай текст' id='text' ng-bind-html='post.text'>
          {{post.text}}
        </p>
      </div>
      <button class='btn btn-info' ng-disabled='input_check' type='submit'>
        <span class='glyphicon glyphicon-floppy-saved'>
          Save
        </span>
      </button>
      <button id='formedium' ng-click='showPopover()'></button>
      <pop-window></pop-window>
    </form>
  </div>
</div>
