
admin = angular.module( 'admin',['ngRoute', 'ngResource', 'ngSanitize'])



admin.config [
  '$httpProvider'
  '$routeProvider'
  '$locationProvider'
  '$provide'
  ($httpProvider, $routeProvider, $locationProvider, $provide) ->
  
    authToken = $("meta[name=csrf-token]").attr("content")
    $httpProvider.defaults.headers.common["X-CSRF-TOKEN"] = authToken
    # enabling html5Mode
    #$locationProvider.html5Mode true
    #$locationProvider.hashPrefix('!')
    
   
  
  
  
    
    #correct /admin/login html5 !
    # get "/"  
    
     
    $routeProvider
      .when '/login',
        templateUrl: "<%= asset_path('login.html') %>"
        controller: 'loginCtrl'

      .when '/dashboard',
        #templateUrl: '/assets/dash.html'
        #controller : "LocationController"
        templateUrl: "<%= asset_path('dashboard.html') %>"
        controller: 'DashboardCtrl'

      .when '/posts/:id',
        templateUrl: "<%= asset_path('post_detail.html') %>"
        controller: "PostDetailCtrl"
]


`admin.service('fileUpload', ['$http','$routeParams','Post', function ($http, $routeParams, Post) {
    this.uploadFileToUrl = function(post, callback){
        var fd = new FormData();
        fd.append('post[title]', post.title);
        fd.append('post[text]', post.text);
        fd.append('post[asset]', post.asset);
        
        Post.update({id: $routeParams.id}, fd, callback,
        function(error){
          console.log(error);
        })
    }
}]);`



`admin.directive('myCustomer', function() {
    return {
      restrict: 'E',
      
    
      template: '<p ng-show="showMessage()"> Name: {{message}} </p>',
      link: function (scope, element, attr) {
        console.log(scope, 'scope');
      
        scope.showMessage = function() {
          console.log(scope.message, 'scope.message')
        return scope.message !== void 0 && scope.message.length > 0;
        }
      }
    };
  });`
## mock class for test
admin.service("Mockach", [class X

    t: () -> return 3
    b: () -> return 4
  ]) 
###
first method to pass service in coffeescript
myClass = () ->

myClass.prototype.t = -> return 3


admin.service("Mockach", myClass)

#second method -------------------------
admin.service("Mockach", [class X

    t: () -> return 3
    b: () -> return 4
  ]) 
###
admin.service 'sessionStorage', ["$http", class Sessions

  constructor: (@$http) ->
    @_user = {}
    @_authorized = false

  authorized: ->
    @_authorized is "true"

  setAuth: (status) ->
    @_authorized = status
    

  getUser:  ->
    @_user

  setUser: (user) ->
    @_user.id = user.id 
    @_user.name = user.name 

  login: (newUser, callback)->
    @$http.post('/sessions', user: newUser).success(callback)
          .error((error) -> console.log(error))

  logout: (callback) ->
    @$http.delete('/sessions', id: 1).success(callback)
          .error((error) -> console.log(error))

  updateUser: (newUser, status) =>
    if status is "true"
      user = newUser
    else
      user = {}
    @setUser(user)
    @setAuth(status)

  showMessage: (message) ->
    console.log(message, "PPPPPPPPPP")
    console.log(message , 'mess')
    message isnt undefined and message.length  >0


 ]

admin.factory 'Post', ['$resource', ($resource) ->
  $resource('/posts/:id/:action', {id: '@id'},
    'query':
      method: 'GET'
      #isArray: true
      params: {}

    'update':
      method: 'PATCH'
      transformRequest: angular.identity
      headers: {'Content-Type': undefined}

    'create':
      method: 'POST'
      transformRequest: angular.identity
      headers: {'Content-Type': undefined}
    
    
      
    
  
  


      )


  ]

#########################################
# controllers
######################################### 
admin.controller 'loginCtrl',["$scope", "$location","sessionStorage", ($scope, $location, sessionStorage) ->
        #debug --------------------
        #$scope.email = "EMAIL"
        $scope.user = {}
        $scope.user.email = "oleg@mail.ru"
        $scope.user.password = "leelovaya"
        # ------------------------
        
        $scope.EMAIL_REGEXP =  /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/
        $scope.login = (user) ->
          
          $scope.user = {}
          sessionStorage.login(user, (data) ->
            sessionStorage.updateUser(data.user, data.authorized))
              .then(loginRequestHandler, loginErrorHandler)
            
            
            
    
        loginRequestHandler = (result) ->
          console.log($location.path(), "FFFFE")
          if sessionStorage.authorized()
            $location.path('/dashboard')
          else
            $scope.message = "Invalid login or password"

        loginErrorHandler = (error) ->
          $scope.message = "Error #{error}"

       
        $scope.showMessage = ->
          $scope.message isnt undefined and $scope.message.length >0
          

  
]

admin.controller "DashboardCtrl", ["$scope", "sessionStorage", "Post", ($scope, sessionStorage, Post) ->
  
  Post.query().$promise.then((data)->
    console.log("DATA !", data)
    $scope.posts = data.posts
    ).then((data) ->
      console.log(data)
      
      
      )
  ###$scope.f = (num) ->
    posts = $scope.posts
    for post in posts
        if post.id != num
          post.hideValue = true###

  
  
  
  
  ]



admin.controller "PostDetailCtrl", ["$scope", "sessionStorage",'$routeParams', "Post", "fileUpload", ($scope, sessionStorage, $routeParams, Post, fileUpload) ->
  Post.get({id: $routeParams.id, action: "edit" }, (data) ->
    $scope.post = data.post)
  $scope.input_check = true
  $scope.t = {}
  angular.element('#title, #text').bind('input', ()->
    $scope.message = ""
    $scope.input_check = false
    $scope.$apply())
  
  #update post 
  $scope.update =() ->
    
    $scope.post.title = document.getElementById('title').innerHTML
    $scope.post.text = document.getElementById('text').innerHTML
    $scope.post.asset = document.getElementById('asset').files[0]
    fileUpload.uploadFileToUrl($scope.post, (data) ->
      $scope.message = data.message or data.errors )
    $scope.input_check = true
    




  ]
       





admin.controller 'uploadCtrl', ["$scope", 'fileUpload', ($scope,fileUpload) ->
  $scope.f = () ->
    true
  $scope.fileUpload = fileUpload
  $scope.post = {}
  $scope.post.asset = "file"
  $scope.x = () ->
   console.log($scope.post.title, 'title')
   console.log($scope.post.text, 'text')
   file = document.getElementById('asset').files[0]
   console.log(file, 'file')
   $scope.post.asset = file
  
   fileUpload.uploadFileToUrl($scope.post)
   console.log($scope.post.asset.url, 'tttt')
  

  
  

  
  
  
  
  ]
