// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







@import "variables"; 
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'medium-editor';
@import 'default';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@mixin border-color-top($radius) {
  border-top: $radius solid red;
  border-left: $radius solid red;
  }
/* miscellaneous */

.form-control {
  border: 0px solid;
  @include border-color-top(5px);
  }

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

button:focus,
button:active,
button:hover,
.editable
{
 outline:0px !important;
    -webkit-appearance:none;

}

.btn:active {
    background-color: #ffffff;
    border-color: white;
    color: $btn-info-bg;

   
}

.btn{
  box-shadow: 0 0 15px #888;
  }
.btn:disabled {
  color: $btn-info-bg;
  box-shadow: 0 0 15px #ffffff;
  }




input.ng-dirty.ng-invalid {
   //background-color: red;
  }



input.ng-valid.ng-dirty {
    background-color: #66afe9 ;
  }


@mixin center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  @include center-block;
  }
/* forms */



.input-group {
    
   
   /*width: 480px; */
  /*@include box_sizing; */
}

.col-sm-8 {
  margin-bottom: 15px;
  }
.wrapper-form{
    margin-top: 100px;
    box-shadow: 0 0 15px #888;
    border-radius: 50%;
    border: $border-gray;
    border-top-color: 	#D00000 ;
    width: $size;
    height: $size;
    @include center-block;
    
}

.input-group-addon{
   
    width: 138px;
    }
.form-input {
    top: 35%;
    @include center-block;
}


.login {
  @include center-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  
  }

.error-message {
  color: white;
  
  }
.error-circle {
  border-radius: 50%;
  border: 15px solid green;
  height: 200px;
  width: 200px;
  
  }

@media screen and (max-width:480px) {
  .wrapper-form{
    height: 250px;
    width: 250px;
    border-radius: 0px;
    border: 15px solid gray;
    border-top-color: 	#D00000 ;
    }

}


.image {
 
  }

.media {
  height: 200px;
  }

.pop-window{
 position: absolute;
 
 z-index: 2;
 height: 150px;
 width: 300px;
 background-color: #eaeaea;
  }


h1 {
  text-align: center;
  padding: 0px;
  }
.image {
  margin-top: 15px;
  margin-bottom: 15px;
  }

