// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







@import "variables"; 
@import "bootstrap";
@import "bootstrap-sprockets";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

button:focus,
button:active,
button:hover
{
 outline:0px !important;
    -webkit-appearance:none;

}

.btn:active {
    background-color: #ffffff;
border-color: white;

   
}

@mixin center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* forms */


.input-group-addon{
    width: 138px;
}

.input-group {
    
    margin-bottom: 15px;
  /*@include box_sizing; */
}


.wrapper-form{
    margin-top: 100px;
    box-shadow: 0 0 15px #888;
    border-radius: 50%;
    border: 35px solid gray;
    border-top-color: 	#D00000 ;
    width: 480px;
    height: 480px;
    @include center-block;
    
}


.form-input {
    top: 35%;
    @include center-block;
}


.login {
  @include center-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  
  }

