/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load paths:
                /home/errorsoul/workweb/circle/app/assets/stylesheets
                /home/errorsoul/workweb/circle/app/assets/stylesheets
        on line 7 of /home/errorsoul/workweb/circle/app/assets/stylesheets/admin.css.scss

2: // They will automatically be included in application.css.
3: // You can use Sass (SCSS) here: http://sass-lang.com/
4: 
5: 
6: 
7: @import "bootstrap";

Backtrace:
/home/errorsoul/workweb/circle/app/assets/stylesheets/admin.css.scss:7
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.2.19/bin/sass:13:in `<top (required)>'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/bin/sass:23:in `load'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/bin/sass:23:in `<main>'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/bin/ruby_executable_hooks:15:in `eval'
/home/errorsoul/.rvm/gems/ruby-2.0.0-p481/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load paths:\A                 /home/errorsoul/workweb/circle/app/assets/stylesheets\A                 /home/errorsoul/workweb/circle/app/assets/stylesheets\A         on line 7 of /home/errorsoul/workweb/circle/app/assets/stylesheets/admin.css.scss\A \A 2: // They will automatically be included in application.css.\A 3: // You can use Sass (SCSS) here: http://sass-lang.com/\A 4: \A 5: \A 6: \A 7: @import \"bootstrap\";"; }
