

.row
  .col-md-12
    /*%p {{posts}}*/
    %ul.posts
      %li.thumbnail{"ng-repeat" => "post in posts", 'ng-hide'=> 'post.hideValue', "ng-click" => "f(post.id)"} 
        {{post.id}}
        %a.thumb{:href => '#/posts/{{post.id}}'} 
          {{post.title}}


        %p {{post.text}} 
