

.row
  .col-md-12
    /*%p {{posts}}*/
    %h1.center-block
      All Posts
    %hr
    %ul.media-list.posts
      %li.media.thumbnail{"ng-repeat" => "post in posts", 'ng-hide'=> 'post.hideValue', "ng-click" => "f(post.id)"} 
        
        {{post.id}}
        %img.col-md-4.col-xs-4(ng-src="{{post.asset.url}}" ng-if="post.asset.url")
        .media-body
          
          %a.thumb{:href => '#/posts/{{post.id}}', "ng-bind-html"=> 'post.title'} 
            


          %p{"ng-bind-html"=> 'post.text'} 
            
