



.row
  .col-md-12
   
    .col-md-2.wrapper-form.center-block
      .input-group.input-group-lg
        %span.input-group-addon @dfdfdf
        %input.form-control{:type=>"text", :required => true}


      .input-group.input-group-lg
        %span.input-group-addon @
        %input.form-control{:type=>"text", :required => true}

