



.row
  .col-md-12
    .col-md-3
      
      .col-md-12.bg-success{"ng-cloak" => true, "ng-show" => "showMessage()"}
        %p.error-message.bg-success
          {{message}}
  .col-md-12
    
  
    .col-md-8.col-sm-8.col-xs-8.wrapper-form
      
      
      %form.form-input.col-md-12{"ng-submit" => "form.$valid && login(user)", :novalidate => true, :name => "form"}
        
        .input-group.input-group-lg{'ng-class'=>"{true: 'has-success'}[form.email.$valid]"}
          %span.input-group-addon.hidden-xs EMAIL
          %input.form-control{:type=>"email", :required => true,"ng-model" => "user.email", "ng-minlength" => "5", 'ng-pattern'=>"EMAIL_REGEXP", 'name' => 'email'} 


        .input-group.input-group-lg{'ng-class'=>"{true: 'has-success'}[form.password.$valid]"}
          %span.input-group-addon.hidden-xs PASSWORD
          %input.form-control{:type=>"password", :required => true, "ng-model"=>"user.password", "ng-minlength" =>"5", "ng-maxlength" => "12", "name" => 'password'}

        %button.btn.btn-info.login{:type => "submit", "ng-disabled"=>"form.$invalid" }
          LOGIN

