



.row
  .col-md-12

   
    .col-md-2.wrapper-form
      %form.form-input.col-md-12{"ng-submit" => "form.$valid && login(user)", :novalidate => true, :name => "form"}
        %p.error-message{"ng-cloak" => true, "ng-show" => "showMessage()"} {{message}}
        .input-group.input-group-lg
          %span.input-group-addon {{EMAIL}}
          %input.form-control{:type=>"text", :required => true,"ng-model" => "user.email"} 


        .input-group.input-group-lg
          %span.input-group-addon PASSWORD
          %input.form-control{:type=>"password", :required => true, "ng-model"=>"user.password", "ng-minlength" =>"5", "ng-maxlength" => "12"}

        %button.btn.btn-info.login{:type => "submit", "ng-disabled"=>"form.$invalid" }
          LOGIN

