


.row
  .col-md-12
    %form.form-input.col-md-10{"ng-submit" => "form.$valid && x()", :novalidate => true, :name => "form", 'enctype'=>'multipart/form-data', "method" => "POST"}
      %p.message{"ng-cloak" => true, "ng-show" => "showMessage()"} {{message}}
      %div
        {{post.asset}}
        
      %h1#title.editable{ 'ng-model'=>'post.title',"ng-bind-html"=>"post.title", "data-placeholder"=> 'DDDD' }
        {{post.title}}
       
      %hr
      %input#asset{  'ng-model' => 'post.asset','name' => 'post.asset','type' => 'file'}
      %p#text.editable{ "ng-bind-html"=>"post.text"}
        {{post.text}}

      %p
        {{post.asset}}
        
      

      %button.btn.btn-info{:type => "submit", "ng-disabled"=>"input_check" }
        Save Text
%script
  var editor = new MediumEditor('.editable');
