


.row
  .col-md-12
    %form.form-input.col-md-10{"ng-submit" => "form.$valid && x()", :novalidate => true, :name => "form"}
      %p.error-message{"ng-cloak" => true, "ng-show" => "showMessage()"} {{message}}
      %div
        {{x}}
        
      %h#title.editable{ 'ng-model'=>'post.title',"ng-bind-html"=>"post.title" }
        {{post.title}}
       
      %hr
       
      %p#text.editable{ "ng-bind-html"=>"post.text"}
        {{post.text}}
        
      

      %button.btn.btn-info{:type => "submit", "ng-disabled"=>"input_check" }
        Save Text
%script
  var editor = new MediumEditor('.editable');
