


.row
  .col-md-12
    %form.form-input.col-md-12{"ng-submit" => "form.$valid && login(user)", :novalidate => true, :name => "form"}
      %p.error-message{"ng-cloak" => true, "ng-show" => "showMessage()"} {{message}}
      %div{{"ng-model"=> "post.x"}} 
        {{post.title }}
      %h2 
        {{post.x}}
      %p {{post.text}}
