 
.row
  .col-md-12
    %form#form.form-input.col-md-10{"ng-submit" => "form.$valid && update()", :novalidate => true, :name => "form", 'enctype'=>'multipart/form-data', "method" => "PATCH"}
      %my-customer
      
      //%button(ng-click='showPopover()')
      %a(href='#/posts/new' ng-if='notNew')
        %span.glyphicon.glyphicon-pencil.pull-left
      %a(href='#/dashboard')
        %span.glyphicon.glyphicon-backward.pull-left
      %h1#title.editable(ng-bind-html="post.title" data-placeholder='Набирай заголовок' autofocus)
        {{post.title}}
     
      
     
      
      
     
     

      %hr    
      %label(for='asset' style="color: green; background-color: WhiteSmoke")
        .col-md-3.glyphicon.glyphicon-cloud-download 
          Загрузить

      %input#asset{  'ng-model' => 'post.asset','name' => 'post.asset','type' => 'file', 'style' => "visibility: hidden" }

      .image
        %img.img-thumbnail(ng-src="{{post.asset.url}}" ng-show="asset_url")
      .text  
        %p#text.editable{ "ng-bind-html"=>"post.text", "data-placeholder"=> 'Набирай текст'}
          {{post.text}}

       
      
      

      
        
   

      %button.btn.btn-info{:type => "submit", "ng-disabled"=>"input_check" }
        %span.glyphicon.glyphicon-floppy-saved
          Save 

      .pop-window#pop-id(ng-hide="flag")
        %input#asset{  'ng-model' => 'post.asset','name' => 'post.asset','type' => 'file'}

